spring:
  application:
    name: spotprice-api
  datasource:
    url: jdbc:h2:mem:spotprice
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true

jwt:
  secret: spotprice-dev-secret-key-must-be-at-least-256-bits-long-for-hs256
  expiration-ms: 3600000
